@tailwind base;
@tailwind components;
@tailwind utilities;

.neomorphism {
  -webkit-border-radius: 97px;
  border-radius: 97px;
  /* background: #eeeef8; */
  -webkit-box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
  box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
}
.neomorphismin {
  /* -webkit-border-radius: 97px; */
  /* border-radius: 97px; */
  /* background: #eeeef8; */
  -webkit-box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
  box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
}

@font-face {
  font-family: timer;
  src: url(./assets/font/Onest-Thin.ttf);
}

@font-face {
  font-family: timer2;
  src: url(./assets/font/Recursive_VF_1.078.ttf);
}
