@tailwind base;
@tailwind components;
@tailwind utilities;

.neomorphism {
  -webkit-border-radius: 97px;
  border-radius: 97px;
  /* background: #eeeef8; */
  -webkit-box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
  box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
}
.neomorphismin {
  /* -webkit-border-radius: 97px; */
  /* border-radius: 97px; */
  /* background: #eeeef8; */
  -webkit-box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
  box-shadow: 7px 7px 20px #d9d9e2, -7px -7px 20px #ffffff;
}
.neomorphisminside {
  /* border-radius: 50px; */
  background: #eeeef8;
  box-shadow: inset 7px 7px 14px #dddde7, inset -7px -7px 14px #ffffff;
}
.darkneo {
  /* border-radius: 150px; */
  /* background: #262626; */
  box-shadow: 9px 9px 26px #161616, -9px -9px 26px #363636;
}
.darkneoinset {
  background: #262626;
  box-shadow: inset 9px 9px 26px #161616, inset -9px -9px 26px #363636;
}

@font-face {
  font-family: timer;
  src: url(./assets/font/Onest-Thin.ttf);
}

@font-face {
  font-family: timer2;
  src: url(./assets/font/Recursive_VF_1.078.ttf);
}
